*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
a{
    color: black; 
    text-decoration: none;   
}
/* ---HEADER--- */
header{
    position: relative;
}
/* ---HEADER DESKTOP--- */
.header{
    display: none;
    width: 100%;
    height: 12vh;   
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 0px 20px;
    background-color: #Ffffff;
    box-shadow: 0px 8px 10px -10px rgba(0,0,0,0.69);

}
.header a img{
    width: 50px;
}
.ul-conteiner{
    display: flex;
    margin-bottom: 0;
}
.ul-conteiner li{
    padding: 0 20px;
}
.ul-conteiner li a{
    color: black; 
    text-decoration: none;  
}
/* ---HEADER RESPONSIVE--- */
.navBar{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #ffffff;
    box-shadow: 0px 8px 10px -10px rgba(0,0,0,0.69);

}
.icoHead, .icoHead2{
    width: 25px;
    margin: 5px;
}
.imgHead{
    width: 50px;
    padding: 5px 0 5px 0;
}
/* <!-- MENU RESPONSIVE --> */
.menu-resp{
    position: absolute;
    z-index: 1;
    width: 95%;
    padding: 10px 0 0 0;
    margin: 0 10px;
    background-color: #E5E5E5;
    bottom: 200vh;
}

/* <!-- IMAGEN PRINCIPAL --> */
.section1{
    position: relative;
    overflow: hidden;
}
.contImg{
    width: 100%;
    overflow: hidden;
}
.contImg img, .carousel-inner{
    width: 100%;
    max-height: 88vh;
    object-fit: cover;
}
.contDet{
    width: 100%;
    bottom: 0;
    padding: 10px 5px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 70%;
    z-index: 100;
}
.contDet button a{
    color: #fff; 
    text-decoration: none;
}
/* ---BOTON CATALOGO COMPLETO--- */
.butCat {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 0.5em;
    font-weight: 500;
    background: #1F2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
}
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
.label {
    position: relative;
    top: -1px;
}

.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.butCat:hover .transition {
    width: 19em;
    height: 19em;
}
.butCat:active {
    transform: scale(0.97);
}
.butCat a{
    color: white;
    font-size: 1rem;
}
/* <!-- BARRA DE BUSQUEDA --> */
.mainSearch{
    display: flex;
    justify-content: center;
}
.searchBar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #bababa;
    margin: 10px;
    padding: 0 10px;
    border-radius: 10px;
}

.searchCont{
    position: relative;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 100%;
}
.buscador {
    width: 100%;
    height: 75%;
    border-radius: 10px;
    background-color: #606060d8;
    border: none;
}
.buscador::placeholder{
    padding-left: 8px;
    color: #fff;
}
.searchBar img{
    width: 25px;
    position: absolute;
    margin-right: 5px;
}
/* <!----- LINKS DE RETORNO -----> */
.navReturn{
    display: none;
    margin-left: 10px;
    flex-wrap: wrap;
}

/* <!-- BOTONES DE ACCESO --> */
.accesosRap{
    width: 100%;
    height: 150px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "promo promo repuesto repuesto"
    "promo promo repuesto repuesto"
    "pago pago garantia garantia" 
    "pago pago garantia garantia"   
    ;
}
.accesosRap div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60px; 
    margin: auto    ;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #2d3748;
    border: 1px solid #cbd5e0;
    line-height: 26px;
}
.accesosRap div a{
    color: black; 
    text-decoration: none;  
}
.accesosRap div:hover { 
    transform: translateY(-2px);
}
.accesosRap div:active{
    
    transform: translateY(2px);
}
.accs1{
    grid-area: promo;
}
.accs2{
    grid-area: repuesto;
}
.accs3{
    grid-area: pago;
}
.accs4{
    grid-area: garantia;
}
/* RELOJES RECOMENDADOS */
.recomTitle{
    /* height: 7vh; */
    margin: 5px 25px 5px 25px;
    padding: 5px;
    text-align: center;
    letter-spacing: 1.2px;
}
/* RELOJES RECOMENDADOS RESPONSIVE */
.contRecom{
    display: flex;
    justify-content: center;
    padding: 10px 3px;
    /* margin: 10px 0; */
    height: 45vh;
    overflow: hidden;
    border-bottom: solid 2px black;
}
.imgCont{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    object-fit: fill;
    background-color: #D9D9D9;
    border-radius: 20px;
    box-shadow: 20px 29px 33px -31px rgba(0,0,0,0.75);
}
.imgCont a{
    display: flex;
    justify-content: center;
    width: 100%;
}
.imgCont a img{
    width: 100%;
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;
}
.detCont{
    width: 50%;
    padding: 10px;
}
.detCont h3{
    font-size: 0.9rem;
    border-bottom: solid 2px black;

}
.detCont h4{
    font-size: 0.8rem;
    border-bottom: solid 2px black;
    padding: 5px 0;
}
.detCont div{
    display: flex;
    padding: 10px 0 5px 0;

}
.detCont div p{
    padding: 0 10px;
    background-color: #D9D9D9;
    box-shadow: 24px 16px 110px -71px rgba(0,0,0,0.69);
}
.contBut{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    border-radius: 10px;
}
.contBut button{
    margin: 5px;
    border-radius: 10px;
    height: 7.5vh;
    padding: 5px 0;
    font-size: 2vh;
    border: none;
}
.contBut button {
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    text-decoration: none;
}
#comprar{
    background-color: #5DA8AC;  
}
#wpButton{
    background-color: #25D366;
}
/* <!----- PRODUCTO -----> */
.productD{
    margin: 3PX;
    border-bottom: solid 2px #070707
}
.productD h3{
    margin-left: 8px;
    margin-right: 10px;
    padding: 15px 0px 5px 0px;
    border-bottom: solid 2px #070707;
}
.productD h4{
    font-size: 20px;
    margin-left: 8px;
    margin-right: 35%;
    padding: 10px 40px 5px 0px;
    border-bottom: solid 2px #070707;
}
.productD button{
    margin: 0 2px;
    width: 44%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}
.productD button a{
    color: #fff;
}
#buttonBuy{
    background-color: #4FA095;
}
#buttonWp{
    background-color: #25D366;
}
.imageProduct{
    display: flex;
    justify-content: center;
    height: 50vh;
    margin: 8px;
    border-radius: 20px;
    background-color: #d9d9d9;

}
.imageProduct img{
    object-fit: cover;
    padding: 15px;
    border-radius: 20px;
}
.description{
    margin-left: 8px;
}
.description h3{
    display: none;
}
.description h4{
    display: none;
}
.description button{
    display: none;
}
.description p{
    font-size: 20px;
    margin-right: 60%;
    padding: 10px 40px 5px 0px;
}
.description ul{
    margin: 0 8px 10px 8px;
    width: 70%;
    
}
.description ul li{
    border-bottom: solid 0.1px #999999;
    padding: 5px 0;
}
.imgZoom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2vh;
}
.imgZoom img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 5px;
}
/* RELOJES RECOMENDADOS DESKTOP */
.recomWatch{
    display: none;
}
/* LOGO WHATSAPP FIJO */
.logoCont{
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.logoWp{
    width: 60px;
}

/* FOOTER */
.firstFooter{
    display: grid;
    align-items: flex-start;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    color: white;
    background-color: #949494;
}
#whatsQr{
    display: none;
}
.listContF{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 3px;
    color: white;
}
.listContF ul{
    padding-top: 3px;
    padding-left: 0;
}
.listContF li a{
    color: white;
    text-decoration: none;
}
.listContF h4{
    border-bottom:  solid 2px black;
    padding: 0 0 4px 0;
    font-size: 18px;
}
.iconsF{
    width: 20px;
}
.secondFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}
.secondFooter h3{
    padding: 7px 0;
    font-size: 1rem;
    color: #ffffff;
}
/* CATALOGO */
.topWatchesConteiner{
    width: 100%;
    padding: 0 3px;
    position: relative;
}
.title{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #6b6b6b, #8e8e8e, #b2b2b2, #d8d8d8, #ffffff);
    margin: 0 2vh 3px 2vh;
    padding: 20px 3px;
    border-radius: 20px;
}
.topWatchesConteiner a{
    padding: 0 0 0 2vh;
    font-size: 15px;
}
.topWatchesConteiner p{
    display: inline;
    font-size: 15px;
}
.contFilter{
    display: flex;
    justify-content: space-between;
}
.filter1 img{  
    object-fit: cover;             
    width: 25px;
    margin-left: 2vh;
}
.filter2{
    margin-right: 2vh;
    display: flex;
    align-items: center;
    height: 25px;
    border: solid 1px #000000;
    border-radius: 30px;
    padding: 0 2vh ;

}
.filter2 p{
    padding-right: 2vh ;
}
.filtersP{
    display: none;
    width: 100%;
    height: 20vh;
    padding: 10px 15px;
    background-color: #d8d8d8;
    position: absolute;
}
.filtersP a{
    display: flex;
    justify-content: flex-end;
    height: 25px;
    width: 100%;
    padding-top: 5px;
    border-bottom: 0.5px solid #bababa; 
}
.filtersP a input{
    margin-right: 5px;
}
.catalogo{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(160px,1fr))
}

.contProd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
    height: 15rem;
    border-bottom: solid 0.5px #000;
}
.contProd:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contProd img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.img-prod{
    border-radius: 20px 20px 0 0;
}
.contProd button{
    width: 100%;
    background-color: #25D366;
    margin-bottom: 4px;
    border: none;
    border-radius:0 0 20px 20px ;
}
.contProd button a{
    color: #fff;
    text-decoration: none;
}
.priceCont{
    width: 100%;
    display: flex;
}
.prodDet{
    width: 70%;
    padding: 5px 0;
} 
.contMG{
    padding: 0 1px 5px 0;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.contMG img{
    width: 25px;
}
.nextPage button{
    padding: 3px 30px;
    margin: 20px 0;
    border-radius: 5px;  
}
.nextPage{
    display: flex;
    justify-content: center;

    margin-bottom: 5px;
}
/*-------- CONTACTO------- */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px 10px 2px 10px;
}
.infoButton{
    display:flex ;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    margin: 0 10px 10px 10px;
    width: 100%;
    border-radius: 20px;
    
}
.infoButton h3{
    padding: 10px 10vh;
    border-bottom: solid 2px black;
}
.infoButton div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB;
    height: 50px;
    width: 90%;
    margin: 10px;
    border-bottom: solid 2px black;
    border-radius: 10px;
}
.contactMail{
    width: 100%;
    background: #E5E5E5;
    border-radius: 20px;
    margin: 0 10px 10px 10px;
}
.contactMail h3{
    margin: 0 50% 10px 30px;
    padding: 10px 0 10px 10px;
    
}
.contactWp{
    display: flex;
    align-items: center ;
    width: 90%;
    height: 40px;
    margin: 0 50% 10px 30px;   
    border-bottom: solid 2px black;
}
.contactWp button{
    background-color: #25D366;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}
.contactWp button a{
    color: white;
}

.contactWp img{
    width: 6vh;
    margin-bottom: 15px;
}

.contactInputs{
    margin-left: 10px;
}

.contactInputs div{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px 15px 0;
}   

.contactInputs div input{
    width: 60%;

}
.contactMens{
    height: 150px;
}
/* <!--------- PREGUNTAS FRECUENTES ---------> */
.contPregFrec{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contPreg{
    display: flex;
    flex-direction: column;
}
.contPreg nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5E5E5;
    margin: 5px;
    padding: 0 20px;
    border-radius: 10px;
}
.contPreg nav img{
    width: 20px;
}
.contPreg p{
    background-color: #FAF9F9;
    padding: 10px 20px;
    height: 100%;
    border-radius: 10px;
}
.contPreg nav h4{
    padding: 3px 0;
}
@media only screen and (min-width: 460px){
    .imageProduct{
        height: 75vh;
    }
    
}
@media only screen and (min-width: 750px){
    .searchCont{
        width: 40%;
    }
    .firstFooter{
        display: flex;
        justify-content: space-evenly;
        
    }
    #whatsQr{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #whatsQr img{
        width: 200px;
        justify-content: center;
        margin-top: 4px;
    }
    .productD{
        display: flex;
        justify-content: center;
        margin: 0 50px 10px 50px;
    }
    .productD h3, .productD h4, .productD button{
        display: none;
    }
    .imageProduct{
        width: 50%;
    }
    .description{
        width: 50%;
    }
    .description h3, .description h4, .description button{
        display: block;
    }
    .description button{
        height: 40px;
        width: 344px;
        margin: 3px 0;
        border-radius: 20px;
    }
    .description p{
        margin: 0 0 0 5px;
    }
    .imgZoom img{
        width: 95%;
        height: 800px;
        object-fit: cover;
    }
    .accesosRap{
        display: flex;
        height: 110px;
    }
    .accesosRap div{
        height: 100px;
        margin: 0 5px;
        align-items: center;
        background: #f5f5fa;
        border: 0;
        border-radius: 8px;
        color: #2a1f62;
        cursor: pointer;
        display: flex;
        font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
        font-size: 1rem;
        justify-content: center;
        line-height: 1.5rem;
        position: relative; 
        transition: .2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: pre;
        word-break: normal;
        word-spacing: normal;
    }

    .accesosRap div:hover {
        background: #d2d2d2;
        box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
    }   
    .contRecom{
        display: none;
    }
    .recomWatch, .catalogo{
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
        padding-bottom: 5px;
    }
    .contProd{
        height: 60vh;
        margin: 2px 20px;
        padding: 10px;
        border: 1px solid rgba(67,67,67,0.1);
        border-radius: 20px;
        overflow: hidden;
    }
    .contProd button{
        height: 70px;
    }
    .contact{
        flex-direction: row;
        align-items: start;
    }
    .infoButton{
        height: 50vh;
        width: 35%;
    }
    .contactMail{
        height: 50vh;
        width: 75%;
        padding: 0 30px;
    }
    .contDet{
        margin: 0 0 10px 10px;
    }
    .butCat{
        padding: 1em 2.7em;
    }
}
@media only screen and (min-width: 980px){
    .header{
        display: flex;
    }
    
}
