@import "./utilities/variables";
@import "./utilities/mixins";
@import "./base/reset";
@import "./components/buttons";
@import "./components/bootstrap";
// LAYOUTS
@import "./layout/header";
@import "./layout/recomProducts";
@import "./layout/product";
@import "./layout/mainCatalogue";
@import "./layout/mainContact";
@import "./layout/mainPreguntas";
@import "./layout/footer";
// Media Query
@import "./layout/media-460";
@import "./layout/media-750";
@import "./layout/media-980";
@import "./layout/media-1024";
@import "./layout/media-1400";
a{
    color: black; 
    text-decoration: none;   
}

/* <!-- IMAGEN PRINCIPAL --> */
.section1{
    position: relative;
    overflow: hidden;
    .contImg{
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
            max-height: 88vh;
            object-fit: cover;
        }
    }
    .contDet{
        width: 100%;
        bottom: 0;
        padding: 10px 5px;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 70%;
        z-index: 100;
        button a{
            color: #fff; 
            text-decoration: none;
        }
    }
}

/* LOGO WHATSAPP FIJO */
.logoCont{
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    a img{
        width: 60px;
    }
}
.preMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* <!-- BARRA DE BUSQUEDA --> */
.mainSearch{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    transition: 0.5s;
    :hover{
        transition: 0.5s;
        // transform: scale(101%);
        width: 51%;
    }
    .searchBar{
        display: flex;
        justify-content: flex-end;
        width: 50%;
        box-shadow: $boxShadow;
        margin: 10px;
        div{
            position: relative;
            display: flex; 
            justify-content: flex-end;
            align-items: center;
            height: 40px;
            width: 100%;
            input{
                    width: 100%;
                    height: 75%;
                    border: none;
                    padding-left: 10px;
                    &::placeholder{
                        color: #000;
                        border: #fff;
                    }
            }
            img{
                width: 25px;
                position: absolute;
                margin-right: 5px;
            }
        }
    }
}
/* <!----- LINKS DE RETORNO -----> */
.navReturn{
    display: flex;
    margin-left: 10px;
    padding: 3px;
    flex-wrap: wrap;
}
/* <!----- TITULOS -----> */
.title{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #6b6b6b, #8e8e8e, #b2b2b2, #d8d8d8, #ffffff);
    margin: 0 2vh 3px 2vh;
    padding: 20px 3px;
    border-radius: 20px;
}