@media only screen and (min-width: 980px){
    .navBar{
        display: none;
    }
    .header{
        display: flex;
    }
    .ul-menu{
        display: none;
    }
    .preMain .navReturn{
        width: 100%;
    }
}