/* RELOJES RECOMENDADOS */
.recomTitle{
    /* height: 7vh; */
    margin: 5px 25px 5px 25px;
    padding: 5px;
    text-align: center;
    letter-spacing: 1.2px;
}
/* RELOJES RECOMENDADOS DESKTOP */
.recomWatch{
    display: none;
}
/* RELOJES RECOMENDADOS RESPONSIVE */
.contRecom{
    display: flex;
    justify-content: center;
    padding: 10px 3px;
    /* margin: 10px 0; */
    height: 45vh;
    overflow: hidden;
    border-bottom: solid 2px black;
    .imgCont{
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;
        object-fit: fill;
        background-color: #D9D9D9;
        border-radius: 20px;
        box-shadow: 20px 29px 33px -31px rgba(0,0,0,0.75);
        a{
            display: flex;
            justify-content: center;
            width: 100%;
            img{
                width: 100%;
                padding: 10px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }
    .detCont{
        width: 50%;
        padding: 10px;
        h3{
            font-size: 0.9rem;
            border-bottom: solid 2px black;
        }
        h4{
            font-size: 0.8rem;
            border-bottom: solid 2px black;
            padding: 5px 0;
        }
        div{
            display: flex;
            padding: 10px 0 5px 0;
            p{
                padding: 0 10px;
                background-color: #D9D9D9;
                box-shadow: 24px 16px 110px -71px rgba(0,0,0,0.69);
            }
        }
        .contBut{
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: 100%;
            border-radius: 10px;
            button{
                margin: 5px;
                border-radius: 10px;
                height: 7.5vh;
                padding: 5px 0;
                font-size: 2vh;
                border: none;
                color: rgb(255, 255, 255);
                letter-spacing: 1.5px;
                text-decoration: none;
            }
            #comprar{
                background-color: #5DA8AC;  
            }
            #wpButton{
                background-color: $whatsappColor;
            }
        }
    }
}
